/* Allow users in sudo group to mount without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" &&
        subject.isInGroup("sudo")) {
        return polkit.Result.YES;
    }
});
